* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  display: flex;
  color: white;
}

.sidebar ul li:hover {
  background-color: darkblue;
  border-radius: 15px;
  transition-duration: 0.5s;
}



.sidebar {
  background-color: cornflowerblue;
  height: 100vh;
  width: 50px;
  transition-duration: 0.2s;
  position: absolute;
  z-index: 1;
}

.sidebar:hover {
  width: 230px;
  transition-duration: 0.2s;
}

/* Key Changes Here */
.sidebar .text {
  opacity: 0;
  font-size: 35px;
}

.sidebar:hover .text {
  display: flex; /* Show on hover */
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: opacity 0.5s;
  opacity: 1;
}


.material-symbols-outlined {
  font-size: 45px !important;

}
